.titleone {
    font-size: 200px;
    color: red;
    text-align: center;
    font-weight: bolder;
    
}

.titletwo {
    font-size: 35px;
    color:red;
    text-align: center;
    font-weight: bold;
    
}

button {
    border-radius: 50%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

#button-div {
    position: fixed;
    bottom: 60%;
    right: 27%;
    width: 600px;
}

body {
    background-color: whitesmoke;
}